GEMINI_API_KEY="GEMINI_API_KEY"
VITE_GOOGLE_API_KEY="GEMINI_API_KEY"
API_KEY="GEMINI_API_KEY"
GOOGLE_API_KEY="GEMINI_API_KEY"
#Yah, AI Studio uses one, v0 another, the local server another... bahhhh





LANGFUSE_SECRET_KEY="__PRIVATE_KEY__"
LANGFUSE_PUBLIC_KEY="__PUBLIC_KEY__"
LANGFUSE_HOST="https://cloud.langfuse.com"
LANGFUSE_PROJECT_ID="__PROJECT_ID__"

LANGFUSE_AUTH3="Basic ____ENCODED_64__string"

TRACING_URL="https://cloud.langfuse.com/project/__PROJECT_ID__/traces"

GIST_ID="__GIST_ID"





