GEMINI_API_KEY="GEMINI_API_KEY"
VITE_GOOGLE_API_KEY="GEMINI_API_KEY"
API_KEY="GEMINI_API_KEY"
GOOGLE_API_KEY="GEMINI_API_KEY"
#Yah, AI Studio uses one, v0 another, the local server another... bahhhh



